<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.tju.scs.tinynetbackend.mapper.BatteryMapper" >
  <resultMap id="BaseResultMap" type="edu.tju.scs.tinynetbackend.po.Battery" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="eddy" property="eddy" jdbcType="DOUBLE" />
    <result column="xhcfdxl" property="xhcfdxl" jdbcType="DOUBLE" />
    <result column="zdcdsl" property="zdcdsl" jdbcType="DOUBLE" />
    <result column="zdcddl" property="zdcddl" jdbcType="DOUBLE" />
    <result column="zdfdsl" property="zdfdsl" jdbcType="DOUBLE" />
    <result column="dcrl" property="dcrl" jdbcType="DOUBLE" />
    <result column="life" property="life" jdbcType="DOUBLE" />
    <result column="qsmfd" property="qsmfd" jdbcType="DOUBLE" />
    <result column="clgs" property="clgs" jdbcType="INTEGER" />
    <result column="factory" property="factory" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="capacity1" property="capacity1" jdbcType="INTEGER" />
    <result column="capacity2" property="capacity2" jdbcType="INTEGER" />
    <result column="capacity3" property="capacity3" jdbcType="INTEGER" />
    <result column="capacity4" property="capacity4" jdbcType="INTEGER" />
    <result column="cjcb1" property="cjcb1" jdbcType="DOUBLE" />
    <result column="cjcb2" property="cjcb2" jdbcType="DOUBLE" />
    <result column="cjcb3" property="cjcb3" jdbcType="DOUBLE" />
    <result column="cjcb4" property="cjcb4" jdbcType="DOUBLE" />
    <result column="gxcb1" property="gxcb1" jdbcType="DOUBLE" />
    <result column="gxcb2" property="gxcb2" jdbcType="DOUBLE" />
    <result column="gxcb3" property="gxcb3" jdbcType="DOUBLE" />
    <result column="gxcb4" property="gxcb4" jdbcType="DOUBLE" />
    <result column="yxwhcb1" property="yxwhcb1" jdbcType="DOUBLE" />
    <result column="yxwhcb2" property="yxwhcb2" jdbcType="DOUBLE" />
    <result column="yxwhcb3" property="yxwhcb3" jdbcType="DOUBLE" />
    <result column="yxwhcb4" property="yxwhcb4" jdbcType="DOUBLE" />
    <result column="owner" property="owner" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, eddy, xhcfdxl, zdcdsl, zdcddl, zdfdsl, dcrl, life, qsmfd, clgs, factory, 
    type, capacity1, capacity2, capacity3, capacity4, cjcb1, cjcb2, cjcb3, cjcb4, gxcb1, 
    gxcb2, gxcb3, gxcb4, yxwhcb1, yxwhcb2, yxwhcb3, yxwhcb4, owner
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
  select
  <include refid="Base_Column_List" />
  from battery
  where id = #{id,jdbcType=INTEGER}
</select>

  <select id="selectByOwner" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from battery
    where owner = #{owner,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from battery
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="edu.tju.scs.tinynetbackend.po.Battery" >
    insert into battery ( name, eddy,
      xhcfdxl, zdcdsl, zdcddl, 
      zdfdsl, dcrl, life, qsmfd, 
      clgs, factory, type, 
      capacity1, capacity2, capacity3, 
      capacity4, cjcb1, cjcb2, 
      cjcb3, cjcb4, gxcb1, gxcb2, 
      gxcb3, gxcb4, yxwhcb1, 
      yxwhcb2, yxwhcb3, yxwhcb4, 
      owner)
    values ( #{name,jdbcType=VARCHAR}, #{eddy,jdbcType=DOUBLE},
      #{xhcfdxl,jdbcType=DOUBLE}, #{zdcdsl,jdbcType=DOUBLE}, #{zdcddl,jdbcType=DOUBLE}, 
      #{zdfdsl,jdbcType=DOUBLE}, #{dcrl,jdbcType=DOUBLE}, #{life,jdbcType=DOUBLE}, #{qsmfd,jdbcType=DOUBLE}, 
      #{clgs,jdbcType=INTEGER}, #{factory,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{capacity1,jdbcType=INTEGER}, #{capacity2,jdbcType=INTEGER}, #{capacity3,jdbcType=INTEGER}, 
      #{capacity4,jdbcType=INTEGER}, #{cjcb1,jdbcType=DOUBLE}, #{cjcb2,jdbcType=DOUBLE}, 
      #{cjcb3,jdbcType=DOUBLE}, #{cjcb4,jdbcType=DOUBLE}, #{gxcb1,jdbcType=DOUBLE}, #{gxcb2,jdbcType=DOUBLE}, 
      #{gxcb3,jdbcType=DOUBLE}, #{gxcb4,jdbcType=DOUBLE}, #{yxwhcb1,jdbcType=DOUBLE}, 
      #{yxwhcb2,jdbcType=DOUBLE}, #{yxwhcb3,jdbcType=DOUBLE}, #{yxwhcb4,jdbcType=DOUBLE}, 
      #{owner,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="edu.tju.scs.tinynetbackend.po.Battery" >
    insert into battery
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="eddy != null" >
        eddy,
      </if>
      <if test="xhcfdxl != null" >
        xhcfdxl,
      </if>
      <if test="zdcdsl != null" >
        zdcdsl,
      </if>
      <if test="zdcddl != null" >
        zdcddl,
      </if>
      <if test="zdfdsl != null" >
        zdfdsl,
      </if>
      <if test="dcrl != null" >
        dcrl,
      </if>
      <if test="life != null" >
        life,
      </if>
      <if test="qsmfd != null" >
        qsmfd,
      </if>
      <if test="clgs != null" >
        clgs,
      </if>
      <if test="factory != null" >
        factory,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="capacity1 != null" >
        capacity1,
      </if>
      <if test="capacity2 != null" >
        capacity2,
      </if>
      <if test="capacity3 != null" >
        capacity3,
      </if>
      <if test="capacity4 != null" >
        capacity4,
      </if>
      <if test="cjcb1 != null" >
        cjcb1,
      </if>
      <if test="cjcb2 != null" >
        cjcb2,
      </if>
      <if test="cjcb3 != null" >
        cjcb3,
      </if>
      <if test="cjcb4 != null" >
        cjcb4,
      </if>
      <if test="gxcb1 != null" >
        gxcb1,
      </if>
      <if test="gxcb2 != null" >
        gxcb2,
      </if>
      <if test="gxcb3 != null" >
        gxcb3,
      </if>
      <if test="gxcb4 != null" >
        gxcb4,
      </if>
      <if test="yxwhcb1 != null" >
        yxwhcb1,
      </if>
      <if test="yxwhcb2 != null" >
        yxwhcb2,
      </if>
      <if test="yxwhcb3 != null" >
        yxwhcb3,
      </if>
      <if test="yxwhcb4 != null" >
        yxwhcb4,
      </if>
      <if test="owner != null" >
        owner,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="eddy != null" >
        #{eddy,jdbcType=DOUBLE},
      </if>
      <if test="xhcfdxl != null" >
        #{xhcfdxl,jdbcType=DOUBLE},
      </if>
      <if test="zdcdsl != null" >
        #{zdcdsl,jdbcType=DOUBLE},
      </if>
      <if test="zdcddl != null" >
        #{zdcddl,jdbcType=DOUBLE},
      </if>
      <if test="zdfdsl != null" >
        #{zdfdsl,jdbcType=DOUBLE},
      </if>
      <if test="dcrl != null" >
        #{dcrl,jdbcType=DOUBLE},
      </if>
      <if test="life != null" >
        #{life,jdbcType=DOUBLE},
      </if>
      <if test="qsmfd != null" >
        #{qsmfd,jdbcType=DOUBLE},
      </if>
      <if test="clgs != null" >
        #{clgs,jdbcType=INTEGER},
      </if>
      <if test="factory != null" >
        #{factory,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="capacity1 != null" >
        #{capacity1,jdbcType=INTEGER},
      </if>
      <if test="capacity2 != null" >
        #{capacity2,jdbcType=INTEGER},
      </if>
      <if test="capacity3 != null" >
        #{capacity3,jdbcType=INTEGER},
      </if>
      <if test="capacity4 != null" >
        #{capacity4,jdbcType=INTEGER},
      </if>
      <if test="cjcb1 != null" >
        #{cjcb1,jdbcType=DOUBLE},
      </if>
      <if test="cjcb2 != null" >
        #{cjcb2,jdbcType=DOUBLE},
      </if>
      <if test="cjcb3 != null" >
        #{cjcb3,jdbcType=DOUBLE},
      </if>
      <if test="cjcb4 != null" >
        #{cjcb4,jdbcType=DOUBLE},
      </if>
      <if test="gxcb1 != null" >
        #{gxcb1,jdbcType=DOUBLE},
      </if>
      <if test="gxcb2 != null" >
        #{gxcb2,jdbcType=DOUBLE},
      </if>
      <if test="gxcb3 != null" >
        #{gxcb3,jdbcType=DOUBLE},
      </if>
      <if test="gxcb4 != null" >
        #{gxcb4,jdbcType=DOUBLE},
      </if>
      <if test="yxwhcb1 != null" >
        #{yxwhcb1,jdbcType=DOUBLE},
      </if>
      <if test="yxwhcb2 != null" >
        #{yxwhcb2,jdbcType=DOUBLE},
      </if>
      <if test="yxwhcb3 != null" >
        #{yxwhcb3,jdbcType=DOUBLE},
      </if>
      <if test="yxwhcb4 != null" >
        #{yxwhcb4,jdbcType=DOUBLE},
      </if>
      <if test="owner != null" >
        #{owner,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.tju.scs.tinynetbackend.po.Battery" >
    update battery
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="eddy != null" >
        eddy = #{eddy,jdbcType=DOUBLE},
      </if>
      <if test="xhcfdxl != null" >
        xhcfdxl = #{xhcfdxl,jdbcType=DOUBLE},
      </if>
      <if test="zdcdsl != null" >
        zdcdsl = #{zdcdsl,jdbcType=DOUBLE},
      </if>
      <if test="zdcddl != null" >
        zdcddl = #{zdcddl,jdbcType=DOUBLE},
      </if>
      <if test="zdfdsl != null" >
        zdfdsl = #{zdfdsl,jdbcType=DOUBLE},
      </if>
      <if test="dcrl != null" >
        dcrl = #{dcrl,jdbcType=DOUBLE},
      </if>
      <if test="life != null" >
        life = #{life,jdbcType=DOUBLE},
      </if>
      <if test="qsmfd != null" >
        qsmfd = #{qsmfd,jdbcType=DOUBLE},
      </if>
      <if test="clgs != null" >
        clgs = #{clgs,jdbcType=INTEGER},
      </if>
      <if test="factory != null" >
        factory = #{factory,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="capacity1 != null" >
        capacity1 = #{capacity1,jdbcType=INTEGER},
      </if>
      <if test="capacity2 != null" >
        capacity2 = #{capacity2,jdbcType=INTEGER},
      </if>
      <if test="capacity3 != null" >
        capacity3 = #{capacity3,jdbcType=INTEGER},
      </if>
      <if test="capacity4 != null" >
        capacity4 = #{capacity4,jdbcType=INTEGER},
      </if>
      <if test="cjcb1 != null" >
        cjcb1 = #{cjcb1,jdbcType=DOUBLE},
      </if>
      <if test="cjcb2 != null" >
        cjcb2 = #{cjcb2,jdbcType=DOUBLE},
      </if>
      <if test="cjcb3 != null" >
        cjcb3 = #{cjcb3,jdbcType=DOUBLE},
      </if>
      <if test="cjcb4 != null" >
        cjcb4 = #{cjcb4,jdbcType=DOUBLE},
      </if>
      <if test="gxcb1 != null" >
        gxcb1 = #{gxcb1,jdbcType=DOUBLE},
      </if>
      <if test="gxcb2 != null" >
        gxcb2 = #{gxcb2,jdbcType=DOUBLE},
      </if>
      <if test="gxcb3 != null" >
        gxcb3 = #{gxcb3,jdbcType=DOUBLE},
      </if>
      <if test="gxcb4 != null" >
        gxcb4 = #{gxcb4,jdbcType=DOUBLE},
      </if>
      <if test="yxwhcb1 != null" >
        yxwhcb1 = #{yxwhcb1,jdbcType=DOUBLE},
      </if>
      <if test="yxwhcb2 != null" >
        yxwhcb2 = #{yxwhcb2,jdbcType=DOUBLE},
      </if>
      <if test="yxwhcb3 != null" >
        yxwhcb3 = #{yxwhcb3,jdbcType=DOUBLE},
      </if>
      <if test="yxwhcb4 != null" >
        yxwhcb4 = #{yxwhcb4,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.tju.scs.tinynetbackend.po.Battery" >
    update battery
    set name = #{name,jdbcType=VARCHAR},
      eddy = #{eddy,jdbcType=DOUBLE},
      xhcfdxl = #{xhcfdxl,jdbcType=DOUBLE},
      zdcdsl = #{zdcdsl,jdbcType=DOUBLE},
      zdcddl = #{zdcddl,jdbcType=DOUBLE},
      zdfdsl = #{zdfdsl,jdbcType=DOUBLE},
      dcrl = #{dcrl,jdbcType=DOUBLE},
      life = #{life,jdbcType=DOUBLE},
      qsmfd = #{qsmfd,jdbcType=DOUBLE},
      clgs = #{clgs,jdbcType=INTEGER},
      factory = #{factory,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      capacity1 = #{capacity1,jdbcType=INTEGER},
      capacity2 = #{capacity2,jdbcType=INTEGER},
      capacity3 = #{capacity3,jdbcType=INTEGER},
      capacity4 = #{capacity4,jdbcType=INTEGER},
      cjcb1 = #{cjcb1,jdbcType=DOUBLE},
      cjcb2 = #{cjcb2,jdbcType=DOUBLE},
      cjcb3 = #{cjcb3,jdbcType=DOUBLE},
      cjcb4 = #{cjcb4,jdbcType=DOUBLE},
      gxcb1 = #{gxcb1,jdbcType=DOUBLE},
      gxcb2 = #{gxcb2,jdbcType=DOUBLE},
      gxcb3 = #{gxcb3,jdbcType=DOUBLE},
      gxcb4 = #{gxcb4,jdbcType=DOUBLE},
      yxwhcb1 = #{yxwhcb1,jdbcType=DOUBLE},
      yxwhcb2 = #{yxwhcb2,jdbcType=DOUBLE},
      yxwhcb3 = #{yxwhcb3,jdbcType=DOUBLE},
      yxwhcb4 = #{yxwhcb4,jdbcType=DOUBLE},
      owner = #{owner,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>